.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 373px;
  background-color: white;
  border-radius: 14px;
  margin-top: 154px;
  color: black;
}

.formContent {
  margin-top: 30px;
}

.btn {
  margin-left: 5px;
  margin-top: 10px;
}
